CallOutcomeSubmission/Service References/ServiceReference/LeadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LeadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="wsHttpBinding_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://www.mollymaid.com/lmsapi/wcf_v1/LeadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://www.mollymaid.com/lmsapi/wcf_v1/LeadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://www.mollymaid.com/lmsapi/wcf_v1/LeadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SBI.MollyMaid.PerceptionistAPI.Service" />
      <xsd:import schemaLocation="https://www.mollymaid.com/lmsapi/wcf_v1/LeadService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SbiLib.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILeadService_GetFranchiseDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFranchiseDetails" />
  </wsdl:message>
  <wsdl:message name="ILeadService_GetFranchiseDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFranchiseDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ILeadService_FranchiseExists_InputMessage">
    <wsdl:part name="parameters" element="tns:FranchiseExists" />
  </wsdl:message>
  <wsdl:message name="ILeadService_FranchiseExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:FranchiseExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ILeadService_GetLeadDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadDetails" />
  </wsdl:message>
  <wsdl:message name="ILeadService_GetLeadDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeadDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ILeadService_GetLookupList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLookupList" />
  </wsdl:message>
  <wsdl:message name="ILeadService_GetLookupList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLookupListResponse" />
  </wsdl:message>
  <wsdl:message name="ILeadService_SubmitLead_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitLead" />
  </wsdl:message>
  <wsdl:message name="ILeadService_SubmitLead_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitLeadResponse" />
  </wsdl:message>
  <wsdl:message name="ILeadService_SubmitLeadAction_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitLeadAction" />
  </wsdl:message>
  <wsdl:message name="ILeadService_SubmitLeadAction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitLeadActionResponse" />
  </wsdl:message>
  <wsdl:message name="ILeadService_SubmitLeadOutcome_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitLeadOutcome" />
  </wsdl:message>
  <wsdl:message name="ILeadService_SubmitLeadOutcome_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitLeadOutcomeResponse" />
  </wsdl:message>
  <wsdl:portType name="ILeadService">
    <wsdl:operation name="GetFranchiseDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadService/GetFranchiseDetails" message="tns:ILeadService_GetFranchiseDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadService/GetFranchiseDetailsResponse" message="tns:ILeadService_GetFranchiseDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FranchiseExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadService/FranchiseExists" message="tns:ILeadService_FranchiseExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadService/FranchiseExistsResponse" message="tns:ILeadService_FranchiseExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLeadDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadService/GetLeadDetails" message="tns:ILeadService_GetLeadDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadService/GetLeadDetailsResponse" message="tns:ILeadService_GetLeadDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLookupList">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadService/GetLookupList" message="tns:ILeadService_GetLookupList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadService/GetLookupListResponse" message="tns:ILeadService_GetLookupList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitLead">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadService/SubmitLead" message="tns:ILeadService_SubmitLead_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadService/SubmitLeadResponse" message="tns:ILeadService_SubmitLead_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitLeadAction">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadService/SubmitLeadAction" message="tns:ILeadService_SubmitLeadAction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadService/SubmitLeadActionResponse" message="tns:ILeadService_SubmitLeadAction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitLeadOutcome">
      <wsdl:input wsaw:Action="http://tempuri.org/ILeadService/SubmitLeadOutcome" message="tns:ILeadService_SubmitLeadOutcome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILeadService/SubmitLeadOutcomeResponse" message="tns:ILeadService_SubmitLeadOutcome_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsHttpBinding" type="tns:ILeadService">
    <wsp:PolicyReference URI="#wsHttpBinding_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFranchiseDetails">
      <soap12:operation soapAction="http://tempuri.org/ILeadService/GetFranchiseDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FranchiseExists">
      <soap12:operation soapAction="http://tempuri.org/ILeadService/FranchiseExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLeadDetails">
      <soap12:operation soapAction="http://tempuri.org/ILeadService/GetLeadDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLookupList">
      <soap12:operation soapAction="http://tempuri.org/ILeadService/GetLookupList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitLead">
      <soap12:operation soapAction="http://tempuri.org/ILeadService/SubmitLead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitLeadAction">
      <soap12:operation soapAction="http://tempuri.org/ILeadService/SubmitLeadAction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitLeadOutcome">
      <soap12:operation soapAction="http://tempuri.org/ILeadService/SubmitLeadOutcome" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LeadService">
    <wsdl:port name="wsHttpBinding" binding="tns:wsHttpBinding">
      <soap12:address location="https://www.mollymaid.com/lmsapi/wcf_v1/LeadService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://www.mollymaid.com/lmsapi/wcf_v1/LeadService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>